html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-width: 360px;
    overflow-x: hidden;
    font-family: 'Stolzl-Book', sans-serif; 
    line-height: 18px;
    font-size: 16px;
    outline: none;
    color: $black-text;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn-link{
    .main-btn{
        position: relative;
        width: 240px;
        height: 52px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 1);
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        line-height: 27px;
        font-weight: 500;
        z-index: 1;
        &::after{
            content: '';
            background-image: url("../img/arrow-btn.svg");
            position: absolute;
            top: 16px;
            right: 25px;
            width: 22px;
            height: 22px;
            z-index: 2;
        }
        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: $blue-text;
            z-index: -1;
            transition: transform 0.5s ease-in;
            transform: scaleX(0);
            transform-origin: right; 
        }
        &:hover::before{
            transform: scaleX(1);
            transform-origin: left; 
        }
    }
}
