$black-text: #484848; 
$dark-text: #242424; 
$grey-text: #757575; 
$light-grey: #B7B7B7; 
$more-light-grey: #9E9E9E; 
$shadow-grey: #690d0d;
$blue-text: #1FAEE9;
$orange: #FE6400;
$bgLink-menu: #F6F6F6;
$menu-text: #888888;
$border: #d2cece;
