.header {
    background-color: #000;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 70px;
    }
    &__burger-menu {
        width: 27px;
        height: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
            height: 2px;
            background-color: #fff;
            border-radius: 1px;
        }
        .header__burger-line1 {
            width: 22px;
        }
        .header__burger-line2 {
            width: 17px;
        }
    }
    // .menu--active{
    //     display: block;
    // }
    .menu {
        display: none;
        z-index: 4;
        position: absolute;
        left: 0;
        top: 70px;
        min-width: 325px;
        z-index: 4;
        .header__menu {
            padding: 0;
            .header__menu-services {
                position: relative;
                &::before {
                    content: "";
                    background-image: url("../img/arrow-lang.svg");
                    position: absolute;
                    top: 16px;
                    right: 15px;
                    width: 7px;
                    height: 4px;
                }
            }
            .header__menu-list {
                // list-style-type: decimal-leading-zero;
                padding: 11px 46px 11px 19px;
                background: $bgLink-menu;
                border: solid 2px #fff;
                border-left: none;
                border-right: none;
                cursor: pointer;
                color: $menu-text;
                font-size: 13px;
                font-weight: 400;
                transition: background 0.5s ease;
                // list-style-position: inside;
                &:hover {
                    background: $orange;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                    span {
                        color: #fff;
                    }
                }
                a {
                    color: $menu-text;
                    font-size: 13px;
                    font-weight: 400;
                    width: 100%;
                }
                span {
                    margin-right: 10px;
                }
            }
        }
    }
    .header__services,
    .header__left-content,
    .header__right-content {
        display: none;
    }
    &__languages {
        padding-right: 9px;
        span {
            text-transform: uppercase;
            color: #fff;
        }
    }
    .header__contacts {
        display: none;
        position: absolute;
        bottom: -20px;
        font-size: 13px;
        left: 20%;

        a {
            text-decoration: underline;
        }
    }
}

@media (min-width: 1180px) {
    .header__burger-menu {
        display: none;
    }
    .header__inner {
        .header__left-content {
            display: flex;
            align-items: center;
            .header__services {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                background-color: $orange;
                height: 70px;
                width: 152px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url("../img/write-icon.svg");
                    top: 28px;
                    left: 26px;
                    height: 14px;
                    width: 14px;
                }
                a {
                    color: #fff;
                }
            }
            .header__left-text {
                margin-left: 60px;
                li {
                    display: inline-block;
                    & + li {
                        margin-left: 36px;
                    }
                    a {
                        font-size: 13px;
                        font-weight: 400;
                        color: #fff;
                    }
                }
            }
        }
        .header__left-text,
        .header__right-list {
            height: 70px;
            display: flex;
            align-items: center;
            li {
                height: 100%;
                transition: all .5s;
                &:hover {
                    border-bottom: 1px solid #fff;
                }
                a{
                    margin-top: 28px;
                }
            }
        }
        .header__right-content {
            display: block;
            .header__right-list {
                li {
                    display: inline-block;
                    & + li {
                        margin-left: 20px;
                    }
                    a {
                        font-size: 13px;
                        font-weight: 400;
                        color: #fff;
                    }
                }
            }
        }
    }
}
