.footer {
    background: $dark-text;  
    padding-top: 60px;  
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;   
    padding-top: 40px;   
    padding-left: 30px;
    border-bottom: 2px solid $dark-text;
    &--logo {
        min-width: 350px;
        width: 350px;
        position: relative;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        .main-logo {
            padding-top: 10px;
            padding-bottom: 40px;
        }
    }
    &-list {
        display: flex;
    }
    .footer__logo--text {
        color: $more-light-grey;
        font-size: 16px;
        line-height: 26px;
    }
    .footer__logo--arrow {
        position: absolute;
        top: 350px;
        width: 70px;
        cursor: pointer;
        .arrow-text {
            padding-top: 21px;
            padding-left: 5px;
            font-size: 18px;
            font-weight: 200;
        }
    }
    &-list-first,
    &-list-second {
       font-size: 17px;
        p {
            font-weight: bold;
            font-size: 18px;  
            color: #fff;
            line-height: 2;
            padding-bottom: 30px;
        }
        .footer__list-menu {
            padding-left: 40px;
            position: relative;
            min-width: 350px;
            // width: 500px;
            &:nth-child(1) {
                padding-left: 0;
            }
            a {
                color: #fff;   
                padding-bottom: 40px;   
                font-weight: 200;  
                &:hover {
                    color: $blue-text;
                    font-size: 18px;
                }       
                span {
                    content: '';
                    top: 9px;
                    left: 4px;
                    position: absolute;
                    width: 14px;
                    height: 1px;
                    background-color: #fff;
                    cursor: pointer;
                    &:hover {
                        background-color: $blue-text;
                        width: 19px;
                    }
                }
            }

        }
        .footer__list-arrow {
            a {
                &::after { 
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 205px;
                    background-image: url('../img/footer/down_arrow.svg');
                    background-repeat: no-repeat;
                    padding-left: 20px;
                    padding-bottom: 10px;
                }
            }
        }
        
    }

    li.footer__list-menu.footer__list-second{
        padding-left: 40px;
    }
    .footer__inner-list-second {
        padding-top: 0px;
        // border-bottom: 2px solid $shadow-grey;
        span {
            content: '';
            top: 7px;
            left: 4px;
            position: absolute;
            width: 14px;
            height: 1px;
            background-color: #fff;
            cursor: pointer;
            &::after { 
                content: '';
                position: absolute;
                top: -5px;
                left: 215px;
                background-image: url('../img/footer/down_arrow.svg');
                background-repeat: no-repeat;
                padding-left: 20px;
                padding-bottom: 10px;
            }
            &:hover {
                background-color: $blue-text;
                width: 19px;
            }
            
        }
        
    }
    .footer__inner-contact {
        width: 275px;
        .footer__list-contact {

            p {
                font-weight: 600;
                padding-top: 5px;
                padding-bottom: 40px;
                font-size: 23px;
            }
        }
        .footer__list-telephone,
        .footer__list-mail {
            a {
                text-decoration: underline;
                padding-top: 10px;
                padding-bottom: 40px;
                font-size: 23px;
                font-weight: 200;   
                color: #fff;
            }
        }
        .footer__list-social {
            padding-top: 10px;
            padding-bottom: 40px;
            color: #fff;
            .social-list {
                display: flex;
                justify-content: space-between;
                margin-right: 30px;
                img {
                    width: 21px;
                    height: 21px;
                }
            }
        }
        .footer__list-telephone img{
            background-size: contain;
            width: 17px;
            margin-right: 6px;
        }
        .footer__list-mail img{
            background-size: contain;
            width: 17px;
            margin-right: 6px;
        }
        
    }
}

.footer__list-button {
    .footer__btn {
       display: block;
       position: relative;
       height: 52px;
       background-color: $dark-text;
       border: 1px solid #fff;
       text-transform: uppercase;
       color: #fff;
       line-height: 27px;
       font-weight: 500;
       z-index: 1;
       cursor: pointer;
       &::after{
           content: '';
           background-image: url("../img/footer/rigth-arrow.svg");
           position: absolute;
           top: 16px;
           right: 15px;
           width: 22px;
           height: 17px;
           z-index: 2;
       }
       &::before{
           content: '';
           position: absolute;
           height: 100%;
           width: 100%;
           top: 0;
           left: 0;
           background-color: rgba(255, 255, 255, 0.064);
           
           z-index: -1;
           transition: transform 0.5s ease-in;
           transform: scaleX(0);
           transform-origin: right; 
       }
       &:hover::before {
           transform: scaleX(1);
           transform-origin: left; 
       }
    }
}

.footer__inner-rights {
    border-top: 2px solid $shadow-grey;
    color: $more-light-grey;
    text-align: center;
    padding: 20px 0px;
}

@media (min-width : 360px) {
    .footer__inner .footer__inner-contact .footer__list-button button {
        font-size: 12px;
        width: 260px;
        padding-right: 33px;
    }
    .footer__inner-contact {
        padding-top: 50px;   
    }
    .footer__inner .footer__inner-list-second {
        padding-bottom: 15px;
    }
    .footer__logo--text p {
        font-size: 13px;   
    }
    .footer__inner-list {
        flex-wrap: wrap;
        border-bottom: 2px solid $shadow-grey;
    }
    .footer__inner--logo {
        align-items: flex-start;
        padding-top: 60px;
        height: 300px;
    }
    .footer__inner .footer__logo--arrow {
        top: 85px;
        right: 40px;
    }

}

@media (min-width : 768px) {
    .footer__inner {
        padding-bottom: 65px;
    }
    .footer__inner-list  {
        flex-wrap: nowrap;
    }
    .footer__list-menu p {
        text-align: right;
    }
    .footer__inner .footer__inner-list-second {
        padding-top: 75px;
    }
    .footer__logo--text p {
        font-size: 16px;   
    }
    .footer__inner--logo {
        align-items: flex-end;  
    }
    .footer__inner .footer__logo--arrow {
        top: 315px;
    }
} 

@media (min-width : 992px) {
    .footer__inner {
        margin-left: 100px;
    }
}

@media (min-width: 1200px) { 
    .footer__inner {
        padding-bottom: 0px;
    }
    .footer__list-menu p {
        text-align: left;
    }
    .footer__inner-contact {
        padding-top: 0;
    }
    .footer__inner-list {
        border-bottom: none;
    }
    .footer__inner--logo {
        width: 1200px;
        align-items: flex-start;
    }
    .footer__inner .footer__logo--arrow {
        top: 60px;
        right: 10px;
    }
}

@media (min-width : 1400px) {
    .footer__inner {
        flex-wrap: nowrap;
        margin-left: 0;
    }
    .footer__inner--logo {
        align-items: flex-end;
        padding-top: 0;
        padding-right: 70px;
    }
    .footer__inner .footer__logo--arrow {
        top: 360px;
        left: 210px;
    }
}





