.company {
    background-image: url('../img/company/sea-port.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 370px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(7,28,36,0.7);
        z-index: 1;
    }
    &-about {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 40px 0px;
        z-index: 3;
        .main_page {
            color: #fff;
            padding-right: 10px;
        }
        .block_page {
            padding-left: 10px;
            color: $light-grey;
            text-decoration: underline;
            cursor: pointer;
        }
        &__contacts {
            a {
                color: #fff;
                text-decoration: underline;
            }
            .contacts-tel {
                font-weight: 700;
                font-size: 19px;
                padding-right: 40px;
            }
            .contacts-mail {
                font-weight: 500;
                font-size: 17px;
            }
        }   
    }
     h4 {
        position: relative;
        font-size: 32px;
        padding-top: 50px;
        line-height: 35px;
        font-weight: 700;
        max-width: 291px;
        margin-bottom: 23px;
        z-index: 1;
        color:#fff;   
    }
    &__text {
        position: relative;
        font-size: 16px;
        line-height: 27px;
        font-weight: 300;
        max-width: 555px;
        margin-bottom: 23px;
        z-index: 1;
        color:#fff;  
    }

}

.significance {
    padding-top: 120px;   
    position: relative;
    z-index: 1;
    &__img {
        position: absolute;
        top: 210px;
        right: 218px;
        background-image: url('../img/company/CONTAINER_STATION.jpg'); 
        background-repeat: no-repeat;
        width: 570px;
        height: 350px;
        z-index: 2;
    }
    &::before {
        content: '';
        position: absolute;
        top: 120px;
        right: 0;
        bottom: 0;
        width: 628px;
        height: 520px;
        background: $blue-text;
        z-index: 1;
    } 
    &__inner {
        color: #000;
        // max-width: 565px;
        padding-bottom: 100px;
        .line {
            padding-top: 30px;
            border-bottom: 2px solid #000;
            width: 90px;
        }
        .dash {
            line-height: 24px;
            padding-left: 10px;
            font-weight: 300;
            &::before {
                content: '¤';
                padding-right: 10px;
            }
        }
    }
    &__title{
        font-size: 33px;
        line-height: 36px;
        font-weight: 700;
        margin-bottom: 23px;
        span{
            color: $blue-text;
        }
    }
    &__text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
      
    }
    &__heading {
        font-size: 18px;
        font-weight: 600;
        span {
            color: $blue-text;
        }
    }
}

.service {
    background-color: $dark-text; 
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
    }
    &__info {
        padding-right: 150px;
        &-title{
            color: #fff;
            line-height: 38px;
            font-weight: 700;
            max-width: 640px;
            padding-bottom: 60px;
            span {
                color: #1FAEE9;
            }
        }
        &-img {
            background-image: url('../img/company/ship.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // min-height: 291px;
            height: 600px;
        }
    }
}

.service__list {
    max-width: 450px;
    ul.tasks {
        color: #fff;
        li.tasks__list {
            display: flex;
            span.tasks-number {
                margin-top: 20px;
                margin-right: 40px;
                font-size: 50px;
                font-weight: 700;
                position: relative;
                padding-right: 30px;
                &::after {
                    position: absolute;
                    right: 13px;
                    top: 16px;
                    content: '';
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background: $blue-text;   
                }
            }
            .tasks__block {
                padding-bottom: 30px;
                font-weight: 300;
                line-height: 30px;
                span.tasks__block-title {
                    font-size: 16px;
                    font-weight: 700;
                }
                span.tasks__block-name {
                    padding-left: 10px;
                }
                .tasks__line {
                    margin-top: 30px;
                    margin-bottom: 20px;
                    border-top: 1px solid $grey-text;
                    width: 100px;
                }
            }
        }
    }
}

.working {  
    color: #000;
    margin: 200px 0;
    &__we {
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: $black-text;
        &-title {
            .line {
                padding-top: 30px;
                border-bottom: 1px solid #757575;
                width: 100px;
            }
        }
        span {
            color: $blue-text;
        }
        &-blocks {
            margin-top: 50px;
            display: flex;
            .block {
                width: 330px;
                height: 240px;
                border: 1px solid $border;
                padding-left: 32px;
                margin-right: 20px;
                &__visual {
                    background-color: $blue-text;
                    height: 127px;
                    width: 102px;
                    &-number {
                        font-weight: 500;
                        color: #fff;
                        font-size: 16px;
                        padding-left: 10px;
                    }
                    &-image {
                        padding-top: 30px;
                        padding-left: 40px;
                    }
                }
                &__text {
                    padding-top: 27px;
                    font-size: 14px;
                    line-height: 27px;  
                    font-weight: 300;
                    color: $grey-text;
                    width: 240px;
                }
            }
        }
    }
}

@media (min-width : 360px) {
    .company-about__contacts {
        display: none;
    }
    .company h4 {
        font-size: 25px;
    }
    .service {
        height: 1300px;
    }
    .service__info {
        padding-right: 0;
    }
    .service__inner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .service__info-title {
        font-size: 25px;
        text-align: center;
    }
    .service__info-img {
        width: 340px;   
        height: 300px;
        margin: auto;
    }
    .service__list {
        padding-top: 60px;
    }
    .working {
        margin: 100px 0;
    } 
    .working__we-title {
        font-size: 27px;
    }
    .working__we-title .line {
        padding-top: 23px;
    }
    .working__we-blocks {
        flex-wrap: wrap;
    }
    .working__we-blocks .block {
        margin-bottom: 30px;
    }
    .service__list ul.tasks li.tasks__list .tasks__block {
        padding-bottom: 4px;
    }



    .significance__img,
    .significance::before
    {
        display: none;  
    }

}

@media (min-width : 768px) {
    .company-about__contacts {
        display: block;
    }
    .company h4 {
        font-size: 32px;
    }
    .working__we-blocks .block__visual-number{
        font-size: 21px;
        margin-right: 50px;
    }

    // .significance__img,
    // .significance::before {
    //     display: block;
    // }
    // .significance::before {
    //     top: 200px;
    //     width: 460px;
    //     height: 320px;
    // }
    // .significance__img {
    //     width: 370px;
    //     height: 250px;
    //     top: 235px;
    //     right: 154px;
    // }


    .significance__inner {
        max-width: 565px;
    }
    .service__info-title {
        font-size: 30px;
    }
    
    .working__we {
        text-align: center;
    }
    .working__we-blocks {
        justify-content: center;
    }
    .working__we-title .line {
        display: none;
    }
}

@media (min-width : 992px) {
    .service__info {
        padding-right: 20px;
    }
    .service {
        height: 1400px;
    }
    .service__info-img {
        width: 440px;   
        height: 400px;
    }
    .significance__img,
    .significance::before
    {
        display: block;  
    }
    .significance__img {
        width: 257px;
        height: 253px;
        top: 280px;
        right: 123px;
    }
    .significance::before {
        width: 318px;
        height: 300px;
        top: 256px;
        
    }
}  

@media (min-width: 1200px) {
    .significance__img {
        width: 570px;
        height: 350px;
        top: 220px;
        right: 0px;
    }
    .significance::before {
        top: 184px;
        right: 0;
        bottom: 0;
        width: 528px;
        height: 420px;
    }
    .service {
        height: 800px;
    }
    .service__info-title {
        font-size: 26px;
        text-align: left;
    }
    .service__inner {
        flex-wrap: nowrap;
    }
    .service__info {
        padding-right: 150px;
    }
    .working__we-blocks {
        flex-wrap: nowrap;
    }
    .working__we-title {
        text-align: left;
    }
    .working__we-title .line {
        display: block;
    }
}

@media (min-width : 1400px) {
    .significance__img {
        top: 210px;
        right: 218px;
        width: 570px;
        height: 350px;
    }
    .significance::before {
        top: 120px;
        right: 0;
        bottom: 0;
        width: 628px;
        height: 520px;
    }
    .working {
        margin: 200px 0;
    }
    .service__info-img { 
    height: 600px;
    width: 100%;
    }
}
